@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono');
:root {
  --color-main: #f7b440;
}

body {
  margin: 0px;
  font-family: Roboto;
  background-size: cover;
  color: #fefefe;
  background: #2c2c2b;
  overflow: hidden;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

@keyframes typing {
  from { width: 0 }
  to { width: 27rem }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  -moz-perspective: unset;
  perspective-origin: 0 0;
}

/* parallax stripes */

.stripes {
  position: absolute;
  width: 100%;
  z-index: -1;
  max-height: 300vh;
  overflow: hidden;
  bottom: 0;
  transform-origin: 0 0;
}

.stripes>svg {
  width: 100%;
}

.stripes.primary {
  fill: hsl(0 0% 16.5% / .5);
  transform: translateZ(-2px) scale(3);
  -moz-transform: unset;
}

.stripes.secondary {
  fill: hsl(120 1% 25% / .2);
  transform: translateZ(-4px) scale(6);
  -moz-transform: unset;
}

/* panes */

.pane {
  width: 85%;
  height: calc(100vh + 1px);
  padding: 9rem 1.5rem 2rem 1.5rem;
  margin: auto;
  box-sizing: border-box;
  border-top: 1px solid #fefefe33;
}

.pane:first-child {
  border-top: none;
}

/* navigation */

#floating {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

#nav {
  margin: 1rem 2rem;
  margin-top: 3rem;
  user-select: none;
}

#butts {
  display: inline;
  float: right;
}

.button {
  float: left;
  padding: .5rem 1rem;
  cursor: pointer;
  text-align: center;
}

.button.active {
  border-bottom: 2px solid var(--color-main);
}

.button:hover {
  background: #ffffff0f;
}

@media only screen and (max-width: 600px) {
  #butts {
    display: flex;
    width: 100%;
  }
  #butts>.button {
    width: 100%;
  }
  .pane {
    padding-top: 10rem;
  }
}

#miniLogo {
  height: 4rem;
  box-sizing: border-box;
  float: left;
  border: 1px solid #febc46;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  top: -15px;
  transition-property: border, padding;
  transition-duration: .1s;
  cursor: pointer;
}

#miniLogo:hover {
  border-width: 6px;
  padding: 0px;
}

#logoText {
  padding: 0.2rem 0.9rem;
  display: inline-block;
  font-size: 1.4rem;
}

#logoText>span {
  /* color: hsl(38 40% 85% / 1); */
}

/* about */

#about {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.header {
  margin-top: 21vh;
  font-family: 'Courier New', Courier, monospace;
  font-family: "Roboto Mono";
}

.header>.big {
  font-size: 6vw;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding-right: 5px;
  border-right: 3px solid white;

  animation: 
    blink-caret .75s step-end infinite;
}

.header>.smol {
  font-size: 3vw;
  margin-top: 0.5rem;
}

.header>.smolest {
  font-size: .8rem;
  max-width: 47vw;
  /* margin-top: 3rem; */
  margin: auto;
  margin-top: 1.3rem;
}

@media only screen and (max-width: 700px) {
  .header {
    margin-top: 19vh;
  }

  .header>.big {
    font-size: 9vw;
  }
  .header>.smol {
    font-size: 5vw;
    margin-top: 0.5rem;
  }
  .header>.smolest {
    font-size: .8rem;
    max-width: 75vw;
    margin-top: 1.3rem;
  }
}

.socials {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  padding: 0 10vw;
  bottom: 2rem;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.socials > a {
  color: inherit;
  position: relative;
  width: 100%;
}

.socials > a:before{
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .75;
  display: inline-block;
  width: 0%;
  height: 0%;
  background: var(--color-main);
  /* transition-property: height; */
  transition-duration: .1s;
}

.socials > a:hover:before{
  height: 100%;
  width: 100%;
}

.socials > a:hover {
  /* border-bottom: 2px solid var(--color-main) */
}