@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono');
:root {
  --color-main: #f7b440;
}

@keyframes fadein {
  from {
    transform: scale(50);
  }
  to {
    transform: scale(1);
  }
}

body {
  margin: 0px;
  font-family: Roboto;
  background-size: cover;
  color: #fefefe;
  background: hsl(60deg 1% 18%);
  overflow: hidden;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: white;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-main);
}

.wrapper {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 1px;
  -moz-perspective: unset;
  perspective-origin: 0 0;
}

/* parallax stripes */

.stripes {
  position: absolute;
  width: 100%;
  z-index: -1;
  max-height: 300vh;
  overflow: hidden;
  bottom: 0;
  transform-origin: 0 0;
}

.stripes>object {
  width: 100%;
}

.stripes.primary {
  transform: translateZ(-2px) scale(3);
  -moz-transform: unset;
}

.stripes.secondary {
  transform: translateZ(-4px) scale(6);
  -moz-transform: unset;
}

/* panes */

.pane {
  position: relative;
  width: 85%;
  height: calc(100vh + 1px);
  padding: 9rem 1.5rem 2rem 1.5rem;
  margin: auto;
  box-sizing: border-box;
  border-top: 1px solid #fefefe33;
  scroll-margin: -1px;
}

.pane:first-child {
  border-top: none;
}

/* navigation */

#floating {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

nav {
  margin: 1rem 2rem;
  margin-top: 3rem;
  user-select: none;
}

#butts {
  display: inline;
  float: right;
}

.button {
  float: left;
  padding: .5rem 1rem;
  cursor: pointer;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.button.active {
  border-bottom: 2px solid var(--color-main);
}

.button:hover {
  background: #ffffff0f;
}

#miniLogo {
  height: 4rem;
  box-sizing: border-box;
  float: left;
  border: 1px solid #febc46;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  top: -15px;
  transition-property: border, padding;
  transition-duration: .1s;
  cursor: pointer;
}

#miniLogo:hover {
  border-width: 6px;
  padding: 0px;
}

#logoText {
  padding: 0.2rem 0.9rem;
  display: inline-block;
  font-size: 1.4rem;
}

/* about */

.pane.about {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  --offset: 0%;
}

.pane.about.verbose {
  --offset: -100%;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  font-family: "Roboto Mono";
  width: 100%;
  position: absolute;
  transition: margin ease-in-out .5s;
  margin-bottom: 10%;
}

.header.main {
  margin-left: var(--offset);
}

.arrow {
  position: absolute;
  right: 2em;
  top: 0;
  height: 100%;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: right ease-in-out .5s;
}

.arrow:hover:after {
  border-width: 4px;
}

.arrow:after {
  content: '';
  border-width: 3px;
  border-color: var(--color-main);
  border-radius: 2px;
  border-style: none solid solid none;
  width: 1em;
  height: 1em;
  transform: rotate(-45deg);
  display: inline-block;
  transition: transform ease-in-out .5s;
}

.about.verbose .arrow {
  right: -4.2em;
  z-index: 5;
}

.about.verbose .arrow:after {
  transform: rotate(135deg);
}

.header.verbose {
  width: 100%;
  position: absolute;
  margin-left: calc(100% + var(--offset));
  box-sizing: border-box;
  padding: 0 5em;
  max-height: 65%;
  overflow: auto;
}

.header>.big {
  font-size: 6vw;
  margin: auto;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  padding-right: 5px;
  border-right: 3px solid white;
  animation: blink-caret .75s step-end infinite;
}

.header>.smol {
  font-size: 3vw;
  margin-top: 0.5rem;
}

.header>.smolest {
  font-size: .8rem;
  max-width: 47vw;
  /* margin-top: 3rem; */
  margin: auto;
  margin-top: 1.3rem;
}

.socials {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  padding: 0 10vw;
  bottom: 2rem;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.socials>a {
  color: inherit;
  position: relative;
  width: 100%;
}

.socials>a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .75;
  display: inline-block;
  width: 0%;
  height: 0%;
  background: var(--color-main);
  /* transition-property: height; */
  transition: width .2s, height .1s;
}

.socials>a:hover:before {
  height: 100%;
  width: 100%;
}

/* Index */

.pane.index>.head {
  font-family: 'Roboto Mono';
  margin-bottom: 2rem;
  height: 40%;
  /* overflow: hidden; */
  position: relative;
}

.description {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity .2s ease-out;
}

.description.active {
  opacity: 1;
  visibility: visible;
}

.description>.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.description>a.link {
  color: inherit;
  text-decoration: none;
  margin-left: .5rem;
  position: absolute;
  left: -2.5em;
  top: 1em;
}

.description>a.link:hover {
  color: var(--color-main);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  bottom: 1.5rem;
  user-select: none;
}

.grid>div {
  width: calc(50% - 1rem);
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.8rem;
  border-style: solid;
  margin-bottom: .5rem;
  border-width: 0px 0px 1px 1px;
  box-sizing: border-box;
  transition: border .1s, color .1s, background .1s;
  cursor: pointer;
  overflow-x: hidden;
}

.grid>div:nth-child(odd) {
  margin-right: .5rem;
}

.grid>div:nth-child(even) {
  margin-left: .5rem;
}

.grid>div>i {
  float: right;
  margin-right: -3rem;
  transition: margin .2s;
  pointer-events: none;
}

.grid>div:hover {
  color: var(--color-main);
  border-width: 0px 0px 1px 5px;
}

.grid>div.active {
  color: white;
  border-width: 0px 0px 1px 1px;
  background: var(--color-main);
}

.grid>div.active:hover {
  border-width: 0px 0px 1px 5px;
}

.grid>div.active:hover>i {
  margin-right: 0;
}

@media only screen and (max-width: 700px) {
  /* navigation */
  #butts {
    display: flex;
    width: 100%;
  }
  #butts>.button {
    width: 100%;
  }
  .pane {
    padding-top: 10rem;
    padding-right: 0;
    padding-left: 0;
  }
  /* about */
  .header>.big {
    font-size: 9vw;
  }
  .header>.smol {
    font-size: 5vw;
    margin-top: 0.5rem;
  }
  .header>.smolest {
    font-size: .8rem;
    max-width: 75vw;
    margin-top: 1.3rem;
  }
  /* index */
  .description>.title {
    font-size: 1.5rem;
  }
  .description>.content {
    font-size: .9rem;
  }
}