#about {
	font-family: 'Raleway';
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: space-evenly;
}

#about > .bio {
	text-indent: 1.5em;
	max-width: max(44em, 40%);
	margin: auto;
	text-align: justify;
}

.stack {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	max-width: max(44em, 50%);
	margin: auto;
	padding: 1em;
	box-sizing: content-box;
}

.stack i {
	font-size: 1.5em;
	margin: 0.5em;
}

.stack i.bigger {
	font-size: 3em;
}

.stack i.big {
	font-size: 2em;
}

.stack i.spacer {
	display: block;
	width: 100%;
	margin: unset;
}

@media (max-width: 400px) {
	.stack i {
		margin: 0.3em;
	}
}
